:root {
    --red: #b61c24;
    --blue: rgb(57, 57, 134);
    --black: #1f1e1e;
    --gray: #303841;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    line-height: 75px;
    background-color: var(--red);
    font-weight: bold;
    font-size: 1.25rem;
    z-index: 1;
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

nav a:hover {
    border: 0;
    margin: 0;
    background-color: var(--blue);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#welcome-section {
    color: white;
    font-size: 1.75rem;
}

#welcome-section h1, #welcome-section h2 {
    font-weight: bold;
}

#welcome-section a {
    text-decoration: none;
    color: var(--blue);
}

#welcome-photo {
    width: 400px;
    border-radius: 100%;
    border: 2px var(--red) solid;
}

#photo {
    width: 450px;
    filter: grayscale(100%);
}

#photo:hover {
    filter: none;
    transform: scale(1.1);
}

#description {
    color: var(--red);
    font-size: 1.5rem;
}

#cursos {
    background-color: var(--blue);
    color: white;
}

#skills {
    color: white;
}

#contato {
    font-weight: bold;
    background-color: var(--gray);
    color: white;
}

#contato h1 {
    font-size: 5rem;
    padding-bottom: 30px;
}

#cursos, #skills {
    display: grid;
    grid-template-columns: 35% 35%;
    gap: 10%;
}

.detalhes-contato {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 1px var(--black);
    padding-right: 15px;
    padding-left: 15px;
}

.detalhes-contato:hover {
    color: pink;
}

.cursos, .skills-class {
    height: 80%;
}

.cursos h1, .skills-class h1 {
    background-color: var(--black);
    color: var(--red);
}

hr {
    border: 2px var(--black) solid;
}

.fases {
    text-align: left;
    display: grid;
}

.cursos div li, .skills-class div li {
    list-style-type: none;
    padding: 5px 5px 5px 25px;
    text-align: left;
}

.cursos div h2 {
    padding-left: 10px;
    text-shadow: 2px 2px 1px var(--black);
}

#disciplinas, #cursos-feitos, #skills-idiomas, #skills-db {
    display: grid;
    gap: 20px;
}

.disciplinas-div {
    background-color: var(--gray);
    border: #1f1e1e 3px solid;
}

#photo {
    place-self: center;
}

.skills-div {
    border: 3px var(--black) solid;
    background-color: var(--gray);
}